body{
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    text-align: center;
}

#half-colour{
    height: 810px;
    width:1000px;
    background-color: #FFFAF1 ;
    position: absolute;
    z-index: -1
}

#half-image{
    height: 810px;
    width: 950px;
    background-image:url(images/beige.jpg);
    background-repeat: no-repeat;
    background-size: 1000px 950px;
    position: absolute;
    z-index: -1;
    right: 1px;
    opacity: 80%;
}

#navbar-image{
    height: 120px;
    margin-top: 20px;
    filter: invert(59%) sepia(42%) saturate(343%) hue-rotate(71deg) brightness(85%) contrast(88%);
    opacity: 60%;
    position: relative;
    right: 50px;
}